/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    font-family: 游ゴシック, YuGothic, Arial, sans-serif;
}



.flex_box_bw{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex_aline_cent{
    align-items: center;
}

.l_inner{
    max-width: 1086px;
    margin: 0 auto;
}




/* header */
.l_header{
    height: 100px;
    background-color: #3F51B5;
    box-shadow: #000000 3px 0 3px;
    position:fixed;
    top:0;
    width: 100%;
    font-weight: normal;
    z-index:100;
    
}

.header-cont{
    height: 100px;
}
.head_nav_item{
    color: #FFF;
    margin-left: 30px;
    position: relative; 

}

.head_nav_item:hover::before,
.head_nav_item:hover::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4.5px;
    outline: solid 1.5px #E81919;  

}


/*top-image*/

.l_main{
    background-image: url(../img/mainvisual.png);
    height: 700px;
    background-size: cover;
    color: #333333;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    background-position: center center;
    width: 100%;
}
.main_title{
    padding-top: 249px;
    font-size: 68px;
}
.main_text{
    margin-top: 12px;
    
}

.main_btn{
    margin-top: 82px;
    padding: 17px 80px;
    font-size: 38px;
    background-color: #3F51B5;
    color: #FFF;
    border-radius: 12px;
    box-shadow: #000000 0 3px 6px;
    border: none;
}



/* l_cards_wrap */
.l_cards_wrap{
    color: #6F7579;
    padding-top: 68px;
    background-color: #EFEFEF;
    height: auto;
    padding-bottom: 150px;
}
.cards_wrap_title{
    text-align: center;
    font-size: 60px;
    color: #333333;
    position: relative;
}


.cards_wrap_title::before,
.cards_wrap_title::after{
    content: "";
    position: absolute;
    left: 47%;
    right: 47%;
    bottom: -45px;
    outline: solid 2.5px #3F51B5;  

}

.md_cards{
    margin-top: 150px;
    width: 100%;
}
.card{
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-right: 28px;  
    box-sizing: border-box;  
    
}
.card:nth-child(3n){
    margin-right: 0;;
}


.card_date{
    color: #6F7579;
    line-height: 1.5em;
    flex-basis: 40%;
  
}

.card_img{
width: 50%;
}

.card_title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.card_text{
    font-size: 16px;;

}


@media screen and (max-width: 1179px) {
    .l_inner{
        padding: 0 2%;
    }
    
   .head_nav_bar{
       display: none;
   }

   .card{
    
    box-sizing: border-box;  
    width: calc(49%);
    margin-right: 1%;
       
}

.card:nth-child(3n){
    margin-right: 1%;
}
.card:nth-child(2n){
    margin-right: 0;
}




  }
  
  @media screen and (max-width: 767px) {
    .header_logo{
        width: 10em;
    }
  
    .main_title{
      font-size: 45px;
  }
  .main_text{
    font-size: 30px;
  }

  .main_btn{
    font-size: 25px;
    padding: 14px 20px;
    width: 90%;
  }

  .card{
    
    box-sizing: border-box;  
    width: calc(100%);

       
}

.card:nth-child(3n){
    margin-right: 0%;
}
.card:nth-child(2n){
    margin-right: 0;
}


  }